<mat-drawer-container autosize class="example-container">
    <mat-drawer #drawer mode="side" class="example-sidenav">
        <h2>Drawer content</h2>
        <!-- <div #listViewpotr></div> -->
        <!-- <ng-container #listViewpotr></ng-container> -->
        <ng-content select="drawer-contant"></ng-content>
    </mat-drawer>

    <div #divElement class="example-sidenav-content">
        <!-- <h2 *ngIf="isView" #test>Content</h2>
        <h2 #testStatic>Content static</h2> -->
        <h2>Content</h2>
        <ng-content select="content"></ng-content>
    </div>
</mat-drawer-container>
