<mat-card class="example-card">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title
            class="example-card-title"
            [textContent]="productMock.name"
        ></mat-card-title>
        <mat-card-subtitle
            class="example-card-subtitle"
            [textContent]="'Tag: ' + productMock.subCategory"
        ></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image alt="mat-card-image" [src]="productMock.images[counter].url" />
    <mat-card-content [textContent]="'Price: ' + productMock.price + ' usd'"></mat-card-content>
    <mat-card-actions>
        <button
            mat-button
            class="example-card-button"
            (click)="onClick(); $event.stopPropagation()"
        >
            BUY
        </button>
    </mat-card-actions>
</mat-card>
