<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- selector 'button[mat-icon-button]' селектор button icon компонента  -->
    <!-- <img src="{{ iconSrc }}" class="shop-icon"> -->
    <img [src]="iconSrc" [style.width.px]="iconWidth" [style.height.px]="40" class="shop-icon">
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="onClick($event); $event.stopPropagation();">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Line</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
