<app-header
    [applicationConfig]="applicationConfig"
    (menuClickOutput)="sidenav.toggleSidenavOpened()"
></app-header>
<!-- <app-sidenav #sidenav [listTemplate]="flag ? listTemplate : second"> -->
<app-sidenav #sidenav>
    <!-- <ng-template #listTemplate> -->
    <!-- <div> -->
    <div ngProjectAs="drawer-content">
        <h2>{{ applicationConfig.title }}</h2>
        <p>is title</p>
    </div>
    <div ngProjectAs="content">
        <h2>Test</h2>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </div>
    <!-- </div> -->
    <!-- </ng-template> -->
</app-sidenav>

<!-- <ng-template #listTemplate>
    <h2>{{applicationConfig.title}}</h2>
    <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
</ng-template>
<ng-template #second>
    <h2>Second</h2>
</ng-template> -->

<!-- <app-products-list></app-products-list> -->

<!-- Homework stand -->

<!-- Switch template -->
<!-- <app-popup-host [template]="switchTemplate ? first : second"></app-popup-host> -->
<!-- or -->
<!-- Close template -->
<!-- <app-popup-host [template]="!closeTemplate ? first : null"></app-popup-host> -->

<!-- <ng-template #first>
    <h2>First</h2>
    <p>Is first template</p>
</ng-template>
<ng-template #second>
    <h2>Second</h2>
    <p>Is second template</p>
</ng-template> -->
