<app-card class="card" [product]="products[0]" (outBuy)="onProductBuy($event)"></app-card>
<app-card class="card" [product]="products[1]" (outBuy)="onProductBuy($event)"></app-card>
<app-card class="card" [product]="products[2]" (outBuy)="onProductBuy($event)"></app-card>
<app-card class="card" [product]="products[3]" (outBuy)="onProductBuy($event)"></app-card>
<app-card class="card" [product]="products[4]" (outBuy)="onProductBuy($event)"></app-card>
<app-card class="card" [product]="products[5]" (outBuy)="onProductBuy($event)"></app-card>
<app-card class="card" [product]="products[6]" (outBuy)="onProductBuy($event)"></app-card>
<app-card class="card" [product]="products[7]" (outBuy)="onProductBuy($event)"></app-card>
<app-card class="card" [product]="products[8]" (outBuy)="onProductBuy($event)"></app-card>
